# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
*.egg

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
Desktop.ini

# =========================
# Secrets
# =========================
.env
*.env
*.key
*.pem
.netrc
_netrc
.pypirc
*Key*.txt
*KEY*.txt

# =========================
# Binary / artifacts
# =========================
*.whl
*.tar.gz

# =========================
# TEXT FILES
# =========================
*.txt

# =========================
# Temporary files
# =========================
*.tmp
*.bak
